<div class="console-template" layout-fill>
	<h1>{{cs.console}}</h1>
	<md-divider></md-divider>
	<div class="console-instructions" layout="row" layout-xs="column" flex>
		<div flex="60">
			<md-list-item ng-repeat="item in cs.consoleInstructions track by $index" ng-click="cs.showImage($index)" class="ins-list-item"
				ng-class="{selected: cs.selectedIndex === $index}">
				<p class="instructions-item">{{item.ins}}</p>
			</md-list-item>
		</div>
		<div flex="40">
			<md-card>
				<md-card-content layout-align="center center">
					<!-- <img ng-src="{{cs.insImage}}" class="instruction-image" /> -->
					<md-list-item  layout-aligh="center center" class="image-list" ng-repeat="image in cs.insImage track by $index">
						<img ng-src="{{image}}" ng-class="{smaller: cs.multImages}" class="instruction-image" />
					</md-list-item>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>