.console-template {
	
	.console-head {
		h1, p, table {
			margin: 2px 12px !important;
		}

		table {
			td {
				min-width: 110px;
			}
		}

	}

	.selected {
		color: #ffb300;
	}

	.ins-list-item {
		padding: 0 !important;
	}

	.note-list-item {
		font-style: italic;
		font-weight: bold;
		color: @warn-red;
	}

	md-card-content {
		md-list-item {
			list-style-type: none;
			margin: 0 auto;
			
			img {
				max-width: 100%;
				margin: 0 auto;
			}
			.smaller {
				max-height: 270px;
			}
		}
	}
}