.games-nav {

	.md-subheader-inner {
		width: 100%;

		.md-subheader-content {
			display: flex;
			justify-content: space-between;
			
			div {
				display: inline-block;

				.md-button {
					font-weight: bold;
					font-size: 1.2em;
				}
			}
		}
	}
}

.games-section {

	md-progress-linear {
		margin: 20px;
	}

	.game-card {
		margin: 6px;
		padding: 4px;
		cursor: pointer;

		md-card-content {
			padding: 4px !important;

			img {
				max-width: 112px;
			}
		}
	}

	md-tooltip .md-content {
		opacity: 1;

		div, span, p, h4, h3 {
			color: black !important;
		}
	}
}

.add-game-area {
	max-height: 150px;
	transition: max-height 500ms ease-in;
	overflow: hidden;

	.input-area {
		div, md-input-container {
			margin-left: 48px;
		}

		md-input-container {
			padding-top: 30px;

			label {
				color: white;
			}			
		}

		.md-button {
			background-color: @dark-blue;
			.BoxShadowHelper(1);
		}
	}
}

.add-game-area.ng-hide {
	max-height: 0;
	transition: max-height 500ms ease-out;
}