.library-container {

	.l-search-container {
		margin-left: 50px;
		width: 400px;
		font-size: 1.5em;

		input {
			margin-top: 23px;
		}
	}

	.add-form {

		.gb-area {
			a {
				color: white;
			}

			a:visited {
				color: @amber-selected;
			}

			a:hover {
				color: @warn-red;
			}
		}

		button {
			margin-top: 22px;
			height: 1.5em;
		}
		
		md-input-container, #console-logo-upload, .md-button {
			margin-left: 30px;
		}

		// md-input-container.ng-hide-add, #console-logo-upload.ng-hide-add, .md-button.ng-hide-add {
		// 	animation-name: fadeOut;
		// 	animation-duration: 0.2s;
		// }
		// md-input-container.ng-hide-remove, #console-logo-upload.ng-hide-remove, .md-button.ng-hide-remove {
		// 	animation-duration: 0.2s;
		// }

		#console-logo-upload {
			width: 134px;
		}

		.submit-button {
			margin-left: 106px !important;
		}

		md-checkbox {
			margin-top: 10px;
		}

		.port-select {
			width: 130px;
		}

		.file-input {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			// position: absolute;
			z-index: -1;
		}

		.file-input + label {
			font-size: 1.25em;
		    font-weight: 700;
		    color: white;
		    background-color: @dark-blue;
		    display: inline-block;
		    cursor: pointer;
		    padding: 10px;
		    margin-left: 0;
		    margin-top: 18px;
		    .BoxShadowHelper(1);
		}

		.file-input:focus + label,
		.file-input + label:hover {
		    background-color: @warn-red;
		}
	}

	.logo-text {
		position: absolute;
		margin-left: 114px;
	}

	.giantbomb-results {

		label {
			font-style: italic;
			text-decoration: underline;
			font-weight: bold;
			color: @amber-selected;
		}
	}
}

.console-instructions-modal {
	color: white;
	
	h2 {
		width: 100%;
		text-align: center;
	}

	.ins-row {

		div {
			margin: 0;
			padding: 0;
			height: 30px;
		}
		md-input-container {
			width: 270px;
			padding: 0;
			margin: 0 4px;
		}
	}

	#games-add {


	}

	#games-edit {

		
	}

	#games-delete {

		
	}

	#console-add {

		
	}

	#console-edit {

		
	}

	#console-delete {

		
	}

}