.activities-nav {

	.activity-button {
		width: 100%;
		font-weight: bold;
		font-size: 1.2em;
		margin: -2px 0 2px -1px;
    	padding: 2px 0;
    	text-align: left;
    	margin-left: 20px;


    	.fa-caret-down {
    		transition: 400ms ease;
    	}

    	.caret-rotate {
    		transform: rotate(-180deg);
    	}

	}

	.md-list-item-inner {
		height: 48px;    		
	}
	.selected {
		background-color: #ffb300;

		h2 {
			text-shadow: 2px 2px 2px #333;
		}
	}

	.button-selected {
		color: #ffb300;
	}

	.nav-list {
		max-height: 540px;
		transition: max-height 400ms ease-in;
		overflow: hidden;
		color: @light-blue-gray;
		padding-left: 26px;
		
		.vg-icon {
			font-family: 'video-games';
			margin-right: 12px;
			font-size: 2.3em;
			color: @warn-red;
		}

		.console-list {

			.md-list-item {
				
				
			}

			.console-image {
				max-height: 52px;
				margin: 4px auto;
				
			}
		}
	}
	.nav-list.ng-hide {
		max-height: 0;
		transition: max-height 400ms ease-out;			
	}
}